/* Estilos para a barra de navegação */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 14%, rgba(20, 20, 69, 1) 39%);
}

/* Estilos para os links dentro do título da barra de navegação */
#navbar h2 a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #9483ff;
}

/* Estilos para o ícone de perfil */
.profile {
    display: flex;
    color: #9483ff;
    width: 35px;
    height: 100%;
}

.logged{
    display: flex;
}

.wishlist{
    width: 35px;
    height: 100%;
    margin-left: -1rem;   
}

.logout{
    margin-top: 0.26rem;
}