/* Estilo para o container da lista de desejos */
.wishlist-container {
    width: 400px;
    margin: auto;
    padding: 20px;
}

/* Estilo para o título da lista de desejos */
.wishlist-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #9483ff;
    text-align: center;
}

/* Estilo para a lista de desejos */
.wishlist-list {
    list-style-type: none;
    padding: 0;
}

/* Estilo para cada item da lista de desejos */
.wishlist-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

/* Estilo para o botão de remover */
.wishlist-item button {
    background-color: #6459b1;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 1rem;
}

/* Estilo para o botão de remover quando hover */
.wishlist-item button:hover {
    background-color: #6a1e9e;
}

.wishlist-item:hover {
    background-color: rgb(34, 0, 61);
    cursor: pointer;
}

.wishlist-item:focus {
    transform: scale(1.05);
    outline: none;
    background-color: #44006e;
    color: white;
}

span {
    margin-left: 1rem;
}

/* Estilos para o spinner com ícone de joystick */
.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #6252ce;
    width: 36px;
    height: 36px;
    animation: spin 2s linear infinite;
    position: relative;
}

/* Adicionando o ícone do joystick */
.spinner::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}